.Rproj.user/shared/notebooks/paths
.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
playground
.httr-oauth
.DS_Store
src/*.o
src/*.so
src/*.dll
docs
inst/doc
**/.quarto/
notes/
..Rcheck/
*.Rcheck/
*.tar.gz
README.html
vignettes/*.html
